:root {
  --blue-color: #2196f3;
  --grey-color: #757575;
  --black-color: #212121;
  --white-color: #ffff;
  --dark-blue-color: #2f303a;
}
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: calc(24 / 14);
  color: var(--black-color);
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid var(--dark-blue-color);
}

/* header */
.header {
  display: flex;
  height: 80px;
}
.header-web {
  color: var(--blue-color);
  line-height: 30.52px;
}
.header-list-link {
  line-height: 16.41px;
  color: var(--blue-color);
}
.list-link-item:nth-child(2n) {
  color: var(--blue-color);
}

/* header-flex */

.header-flex {
  display: flex;
  height: 80px;
  align-items: center;
}

.header-logo {
  margin-right: 91px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 30.52px;
}
.header-nav-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list {
  margin-right: 344px;
}
/* portfolio-flex */
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-list-item:not(:last-child) {
  margin-bottom: 56px;
}
.portfolio-filter {
  display: flex;
  gap: 8px;
}
.portfolio-list {
  display: flex;

  gap: 30px;
}
.portfolio-list-item:not(3n) {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-button {
  height: 38px;
}

/* advatages-flex */
.advatages-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advatages-title {
  display: flex;
  justify-content: center;
  line-height: 16.41px;
}

/* team-flex */
.team-title {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.team-flex {
  display: flex;
  justify-content: center;
}
.team-flex:not(:last-child) {
  margin-right: 30px;
}
/* photos-flex */
.photos-flex {
  display: flex;
  justify-content: center;
}
.photos-title {
  display: flex;
  justify-content: center;
}
/* hero  */
.hero {
  background-color: var(--dark-blue-color);
  text-align: center;
  height: 600px;
  width: 1600px;
  margin: 0 auto;
}
.hero-button {
  width: 216px;
  height: 50px;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  margin-right: 100px;
  margin-top: 140px;
}
.hero-title {
  padding-top: 175px;
  margin-left: 200px;
  line-height: 60px;
  color: var(--white-color);
  height: 120px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
}
/* team */
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
/* photos */
.photos-title,
.portfolio-title {
  line-height: 36px;
}

.list-title {
  line-height: 16.41px;
}
.photos-text {
  line-height: 18px;
}
.photos-text-subtext {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}
.photos-list-item:not(:last-child) {
  margin-right: 30px;
}

/* advatages */
.advatages-item {
  color: var(--grey-color);
  font-weight: 400;
  line-height: inherit;
}
.advatages {
  margin-bottom: 118px;
}
.advatages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advatages-text {
  width: 270px;
}

/* portfoio */
.portfolio-pic {
  width: 370px;
  height: 294px;
}
.portfolio-text {
  color: var(--light-grey-color);
  line-height: 30px;
}
.portfolio-subtitle {
  color: inherit;
  line-height: 36px;
  font-size: 18px;
}
.portfolio-button {
  line-height: calc(26 / 14);
  background-color: rgb(245, 244, 250);
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
}
.button-list-item {
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.portfolio {
  margin-bottom: 94px;
  margin-top: 94px;
}

/* footer */
.footer {
  width: 1600px;
  height: 252px;
  background-color: var(--dark-blue-color);
  margin: 0 auto;
}

.footer-logo {
  font-family: Raleway;
  line-height: 31px;
}

.footer-email,
.footer-number {
  color: var(--grey-color);
  line-height: inherit;
}
.footer-web {
  color: var(--blue-color);
}
.footer-text {
  color: var(--white-color);
  font-weight: 400;
  font-family: Raleway;
  line-height: inherit;
}
.footer-logo {
  color: var(--white-color);
  line-height: 30.52px;
  font-family: Raleway;
  font-weight: 700;
}

.hero,
.photos {
  margin-bottom: 94px;
}
